body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

.pricing-section {
    text-align: center;
    padding: 60px 20px;
}

.top-label {
    background: #f7b26a;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 30px;
    font-size: 13px;
    color: #333;
    margin-bottom: 20px;
}

.title {
    font-size: 34px;
    font-weight: 700;
    position: relative;
}

.underline {
    display: block;
    width: 200px;
    height: 6px;
    background: #f7b26a;
    border-radius: 20px;
    margin: 10px auto 40px;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 280px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.07);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card.active {
    border: 2px solid #ff4668;
    box-shadow: 0 20px 30px rgba(255, 70, 104, 0.3);
}

.icon {
    font-size: 35px;
    color: #777;
    margin-bottom: 10px;
}

.purple { color: #7e3ff2; }
.red { color: #ff4668; }
.green { color: #1dbf73; }

.pack-name {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.price {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.features {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.features li {
    margin: 6px 0;
    font-size: 15px;
    color: #444;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
}

.purple-btn {
    background: #f1edff;
    color: #7e3ff2;
}

.red-btn {
    background: #ff4668;
    color: #fff;
}

.green-btn {
    background: #e6fff3;
    color: #1dbf73;
}


